/*!
	tpl mods
	ryan ni  zhaogang.com
 */


// 模板变量
// -------------------------
@navbg:            #000;

/*
 * @name: a链接自定义模块
 * @overview: 一般链接样式
 * @require: null;
 */
 
 //link模块一
.m-link{
	a{
		color:@linkbase;
		.transition(color .3s ease 0s);
		&:hover{
			color:  @linkhover;
			text-decoration:none;
		}
	}
}

//link模块二
.m-tmp-link{
	a{
		color:@linktmp;
		.transition(color .3s ease 0s);
		&:hover{
			color:  @linkhover;
			text-decoration:none;
		}
	}
}

/*
 * @name: 列表
 * @overview: 一般列表样式
 * @require: null;
 */
ul{
	&.ui-list{
		.ui-list-item{
			height: 24px;
			line-height: 24px;
			overflow: hidden;
		}
	}
	&.ui-list-lines{
		.ui-list-item{
			float:left;
			a{
				padding-right:5px;
			}
		}
	}
}
/*
 * @name: 导航
 * @overview: 一般导航
 * @require: null
 */  
ul{
	&.ui-nav{
		.ui-nav-item{
			background:@navbg;
			position:relative;
			float:left;
			a{
				color:@white;
				display:block;
				width:80px;
				height:24px;
				line-height:24px;
				text-align:center;
				&:hover{
					text-decoration:none;
				}
			}
			.ui-nav-item-child{
				position:absolute;
				left:0;
				top:24px;
				display:none;
				width:78px;
				border:1px solid #ccc;
				border-top:none;
				background:@white;
				li{
					height:24px;
					line-height:24px;
					text-align:center;
				}
			}
			&:hover{
				.ui-nav-item-child{
					display:block;
				}
			}
		}
	}
}
 
/*
 * @name: 标题
 * @overview: 有其他内容包含在内的标题
 * @require: null;
 */
.ui-title{
	text-align:center;
	.ui-title-cnt{
		color:@grayDarker;
	}
	.ui-title-subcnt{
		color:@grayLight;
	}
}

/*
 * @name: 步骤
 * @overview: 用户操作步骤
 * @require: null
 */
 ol{
	&.ui-step{
		.ui-step-item{
			float:left;
			&.ui-step-item-first{
			
			}
			&.ui-step-current{
			
			}
		}
		.ui-step-item-last{
		
		}
	}
 }
 
 /*
 * @name: 重复元素
 * @overview: 重复出现的元素，我们通常用这种方法来写，这样也会方便JS操作
 * @require: null
 */
.ui-repeater{
	.ui-repeater-item{}
	.ui-repeater-current{}
}

/*
 * @name: 分页
 * @overview: 页面分页
 * @require: null
 */
.ui-page{
	text-align:center;
	a{
		float:left;
		border: 1px solid #B3B3B3;
		.border-radius(2px);
		display: inline-block;
		height: 24px;
		line-height: 24px;
		margin: 0 2px;
		padding: 0 7px;
		text-align: center;
		vertical-align: middle;
		color:@grayDark;
		&:hover{
		    border-color: #bf0601;
			color: #bf0601;
			text-decoration: none;
		}
		&.ui-page-item-current{
			background-color: #bf0601;
			border: 1px solid #bf0601;
			color: #FFFFFF;
		}
		&.ui-page-item-prev{
			i{
				font-family: Helvetica;	
				padding-right:5px;
			}
		}
		&.ui-page-next{
			i{
				font-family: Helvetica;	
				padding-left:5px;
			}
		}
	}
	span{
		&.ui-page-item{
			float:left;
			display: inline-block;
			height: 24px;
			line-height: 24px;
			margin: 0 2px;
			padding: 0 7px;
			text-align: center;
			vertical-align: middle;
			color:@grayDark;
		}
		&.ui-page-item-info{
			border: 1px solid #B3B3B3;
			border-radius: 2px 2px 2px 2px;
			color:#cccccc;
		}
	}
	input[type="text"]{
		float:left;
		padding:3px;
		width:18px;
		margin-left:5px;
	}
}


