html {
  font-size:100%;
  -webkit-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
  font-family:"宋体", "Arial Narrow", HELVETICA;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin:0;
  padding:0;
}
table {
  border-collapse:collapse;
  border-spacing:0;
}
img, button, input {
  height:auto;
  border:0;
  -ms-interpolation-mode:bicubic;
  vertical-align:middle;
}
address, caption, cite, code, dfn, em, strong, th, var {
  font-style:normal;
  font-weight:normal;
}
ol, ul, li {
  list-style:none;
  list-style-type:none;
}
caption, th { text-align:left; }
h1, h2, h3, h4, h5, h6 {
  font-size:100%;
  overflow:hidden;
}
h3, h4 { font-weight:lighter; }
q:before, q:after { content:''; }
abbr, acronym { border:0; }
sub, sup {
  position:relative;
  font-size:75%;
  line-height:0;
  vertical-align:baseline;
}
sup { top:-0.5em; }
sub { bottom:-0.25em; }
a:hover, a:active { outline:0; }
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display:block; }
audio, canvas, video {
  display:inline-block;
  *display:inline;
  *zoom:1;
}
button, input, select, textarea {
  margin:0;
  font-size:100%;
  vertical-align:middle;
}
button, input {
  *overflow:visible;
  line-height:normal;
}
button::-moz-focus-inner, input::-moz-focus-inner {
  padding:0;
  border:0;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor:pointer;
  -webkit-appearance:button;
}
input[type="search"] {
  -webkit-appearance:textfield;
  -webkit-box-sizing:content-box;
  -moz-box-sizing:content-box;
  box-sizing:content-box;
}
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance:none; }
textarea {
  overflow:auto;
  vertical-align:top;
}
legend, select { color:#000000; }
.clearfix { *zoom:1; }
.clearfix:before, .clearfix:after {
  display:table;
  content:"";
}
.clearfix:after { clear:both; }
.input-block-level {
  display:block;
  width:100%;
  min-height:28px;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  box-sizing:border-box;
}
@-webkit-keyframes tran {
  0% {
    -webkit-transform:translate(0px,0px);
  }
  50% {
    -webkit-transform:translate(0px,-2px);
  }
  100% {
    -webkit-transform:translate(0px,0px);
  }
}
@-moz-keyframes tran {
  0% {
    -moz-transform:translate(0px,0px);
  }
  50% {
    -moz-transform:translate(0px,-2px);
  }
  100% {
    -moz-transform:translate(0px,0px);
  }
}
@-ms-keyframes tran {
  0% {
    -ms-transform:translate(0px,0px);
  }
  50% {
    -ms-transform:translate(0px,-2px);
  }
  100% {
    -ms-transform:translate(0px,0px);
  }
}
@-o-keyframes tran {
  0% {
    -o-transform:translate(0px,0px);
  }
  50% {
    -o-transform:translate(0px,-2px);
  }
  100% {
    -o-transform:translate(0px,0px);
  }
}
@keyframes tran {
  0% {
    transform:translate(0px,0px);
  }
  50% {
    transform:translate(0px,-2px);
  }
  100% {
    transform:translate(0px,0px);
  }
}
.clr { clear:both; }
table {
  font-size:inherit;
  font:100%;
}
.yahei { font-family:'Hiragino Sans GB', 'Microsoft YaHei', sans-serif !important; }
.f11 { font-size:11px; }
.f12 { font-size:12px; }
.f13 { font-size:13px; }
.f14 { font-size:14px; }
.f16 { font-size:16px; }
.f16 { font-size:16px; }
.f18 { font-size:18px; }
.f20 { font-size:20px; }
.f24 { font-size:24px; }
.fn { font-weight:normal; }
.en-ft { font-family:arial; }
.fn { font-weight:normal; }
.fb { font-weight:700; }
.c83 { color:#838383; }
.f333 { color:#333333; }
.f005BB5 { color:#005bb5; }
.f999 { color:#999999; }
.ff60 { color:#ff6600; }
.ffff { color:#ffffff; }
.fred { color:#ff3c00; }
.grid-1, .grid-2, .grid-3, .grid-4, .grid-50, .grid-60, .grid-70, .grid-80, .grid-90, .grid-10, .grid-11, .grid-12, .grid-13, .grid-14, .grid-15, .grid-16, .grid-17, .grid-18, .grid-19, .grid-20, .grid-21, .grid-22, .grid-23, .grid-24, .grid-25, .grid-26, .grid-27, .grid-28, .grid-29, .grid-30, .grid-31, .grid-32, .grid-33, .grid-34, .grid-35, .grid-36, .grid-37, .grid-38, .grid-39, .grid-40, .grid-41, .grid-42, .grid-43, .grid-44, .grid-45, .grid-46, .grid-47, .grid-48, .grid-49, .grid-50, .grid-51, .grid-52, .grid-53, .grid-54, .grid-55, .grid-56, .grid-57, .grid-58, .grid-59, .grid-60, .grid-61, .grid-62, .grid-63, .grid-64, .grid-65, .grid-66, .grid-67, .grid-68, .grid-69, .grid-70, .grid-71, .grid-72, .grid-73, .grid-74, .grid-75, .grid-76, .grid-77, .grid-78, .grid-79, .grid-80, .grid-81, .grid-82, .grid-83, .grid-84, .grid-85, .grid-86, .grid-87, .grid-88, .grid-89, .grid-90, .grid-91, .grid-92, .grid-93, .grid-94, .grid-95, .grid-96 {
  overflow:hidden;
  margin-left:auto;
  margin-right:auto;
}
.grid-1 { width:10px; }
.grid-2 { width:20px; }
.grid-3 { width:30px; }
.grid-4 { width:40px; }
.grid-5 { width:50px; }
.grid-6 { width:60px; }
.grid-7 { width:70px; }
.grid-8 { width:80px; }
.grid-9 { width:90px; }
.grid-10 { width:100px; }
.grid-11 { width:110px; }
.grid-12 { width:120px; }
.grid-13 { width:130px; }
.grid-14 { width:140px; }
.grid-15 { width:150px; }
.grid-16 { width:160px; }
.grid-17 { width:170px; }
.grid-18 { width:180px; }
.grid-19 { width:190px; }
.grid-20 { width:200px; }
.grid-21 { width:210px; }
.grid-22 { width:220px; }
.grid-23 { width:230px; }
.grid-24 { width:240px; }
.grid-25 { width:250px; }
.grid-26 { width:260px; }
.grid-27 { width:270px; }
.grid-28 { width:280px; }
.grid-29 { width:290px; }
.grid-30 { width:300px; }
.grid-31 { width:310px; }
.grid-32 { width:320px; }
.grid-33 { width:330px; }
.grid-34 { width:340px; }
.grid-35 { width:350px; }
.grid-36 { width:360px; }
.grid-37 { width:370px; }
.grid-38 { width:380px; }
.grid-39 { width:390px; }
.grid-40 { width:400px; }
.grid-41 { width:410px; }
.grid-42 { width:420px; }
.grid-43 { width:430px; }
.grid-44 { width:440px; }
.grid-45 { width:450px; }
.grid-46 { width:460px; }
.grid-47 { width:470px; }
.grid-48 { width:480px; }
.grid-49 { width:490px; }
.grid-50 { width:500px; }
.grid-51 { width:510px; }
.grid-52 { width:520px; }
.grid-53 { width:530px; }
.grid-54 { width:540px; }
.grid-55 { width:550px; }
.grid-56 { width:560px; }
.grid-57 { width:570px; }
.grid-58 { width:580px; }
.grid-59 { width:590px; }
.grid-60 { width:600px; }
.grid-61 { width:610px; }
.grid-62 { width:620px; }
.grid-63 { width:630px; }
.grid-64 { width:640px; }
.grid-65 { width:650px; }
.grid-66 { width:660px; }
.grid-67 { width:670px; }
.grid-68 { width:680px; }
.grid-69 { width:690px; }
.grid-70 { width:700px; }
.grid-71 { width:710px; }
.grid-72 { width:720px; }
.grid-73 { width:730px; }
.grid-74 { width:740px; }
.grid-75 { width:750px; }
.grid-76 { width:760px; }
.grid-77 { width:770px; }
.grid-78 { width:780px; }
.grid-79 { width:790px; }
.grid-80 { width:800px; }
.grid-81 { width:810px; }
.grid-82 { width:820px; }
.grid-83 { width:830px; }
.grid-84 { width:840px; }
.grid-85 { width:850px; }
.grid-86 { width:860px; }
.grid-87 { width:870px; }
.grid-88 { width:880px; }
.grid-89 { width:890px; }
.grid-90 { width:900px; }
.grid-91 { width:910px; }
.grid-92 { width:920px; }
.grid-93 { width:930px; }
.grid-94 { width:940px; }
.grid-95 { width:950px; }
.grid-96 { width:960px; }
.fl { float:left; }
.fr { float:right; }
.show { display:block; }
.hide { display:none; }
.cl { clear:left; }
.cr { clear:right; }
.cb { clear:both; }
.cp { cursor:pointer; }
.tl { text-align:left; }
.tr { text-align:right; }
.tc { text-align:center; }
.tj {
  text-align:justify;
  text-justify:inter-ideograph;
}
.ti { text-indent:-9999em; }
.vm { vertical-align:middle; }
.dib { display:inline-block; }
.ct {
  display:inline-block;
  vertical-align:middle;
}
.pr { position:relative; }
.pa { position:absolute; }
.zoom { *zoom:1; }
.p6 { padding:6px; }
.p8 { padding:8px; }
.p10 { padding:10px; }
.mb5 { margin-bottom:5px; }
.mb10 { margin-bottom:10px; }
.mt7 { margin-top:7px; }
.mb15 { margin-bottom:15px; }
.mb20 { margin-bottom:20px; }
.mt5 { margin-top:5px; }
.mt10 { margin-top:10px; }
.mt15 { margin-top:15px; }
.mt20 { margin-top:20px; }
.blank3 {
  clear:both;
  display:block;
  font-size:1px;
  overflow:hidden;
  height:3px;
}
.blank10 {
  clear:both;
  display:block;
  font-size:1px;
  overflow:hidden;
  height:10px;
}
.blank15 {
  clear:both;
  display:block;
  font-size:1px;
  overflow:hidden;
  height:15px;
}
.blank25 {
  clear:both;
  display:block;
  font-size:1px;
  overflow:hidden;
  height:25px;
}
.noBorder { border:none !important; }
.flighter { font-weight:lighter; }
.oh { overflow:hidden; }
.dib { display:inline-block; }
.hide-text {
  overflow:hidden;
  text-indent:100%;
  white-space:nowrap;
}
a {
  color:#0078b3;
  text-decoration:none;
}
a:hover {
  color:#0078b3;
  text-decoration:underline;
}
body {
  font-family:"宋体", "Arial Narrow", HELVETICA;
  font-size:12px;
  line-height:22px;
  color:#2e2e2e;
  background:#ffffff;
}
input:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus::-webkit-input-placeholder { color:transparent; }
.topbox {
  height:105px;
  position:relative;
}
.top {
  background:url('../images/red-bg.png') left -88px repeat-x;
  height:64px;
  position:relative;
}
.top .header {
  position:relative;
  height:64px;
}
.top .header .logo { float:left; }
.top .header .logo a {
  float:left;
  width:152px;
  height:64px;
  overflow:hidden;
}
.top .header .header-ul {
  position:absolute;
  right:305px;
  top:0;
  height:24px;
  line-height:24px;
}
.top .header .header-ul li { float:left; }
.top .header .header-ul li a {
  color:#ffffff;
  padding:0 10px;
  border-right:1px solid #ffffff;
}
.top .header .header-ul li .a-a {
  background-color:#f15d02;
  background-image:-moz-linear-gradient(top,#ff9b00,#dc0005);
  background-image:-ms-linear-gradient(top,#ff9b00,#dc0005);
  background-image:-webkit-gradient(linear,0 0,0 100%,from(#ff9b00),to(#dc0005));
  background-image:-webkit-linear-gradient(top,#ff9b00,#dc0005);
  background-image:-o-linear-gradient(top,#ff9b00,#dc0005);
  background-image:linear-gradient(top,#ff9b00,#dc0005);
  background-repeat:repeat-x;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9b00', endColorstr='#dc0005', GradientType=0);
  -webkit-box-shadow:0 1px 3px rgba(220,0,5,0.95);
  -moz-box-shadow:0 1px 3px rgba(220,0,5,0.95);
  box-shadow:0 1px 3px rgba(220,0,5,0.95);
  border:1px solid #ffe6bf;
  border-top:none;
  padding:0;
  display:block;
  color:#ffffff;
  padding:0 10px;
}
.top .header .header-ul li .a-a:hover { text-decoration:none; }
.top .header .header-ul li .a-b {
  float:left;
  background:url('../images/plan_bg.png') left top no-repeat;
  height:30px;
  line-height:30px;
  color:#ffffff;
  width:90px;
  color:#780000;
  font-weight:bold;
  text-indent:28px;
  padding:0;
  border-right:none;
  margin:0 10px;
}
.top .header .header-ul li .a-b:hover { text-decoration:none; }
.top .header .header-bar {
  float:right;
  position:relative;
  z-index:1001;
}
.top .header .header-bar .mem-login {
  background:url('../images/red-bg.png') left -64px no-repeat;
  position:absolute;
  top:0;
  right:0;
  height:24px;
  line-height:24px;
  color:#ffffff;
  width:280px;
  padding:0 10px 0 20px;
  text-align:right;
}
.top .header .header-bar .mem-login a { color:#ffffff; }
.top .header .header-bar .mem-login .edit-pass {
  border-right:1px solid #ffffff;
  padding-right:5px;
}
.top .header .header-bar .i-search {
  float:right;
  margin:28px 10px 0 0;
  position:relative;
}
.top .header .header-bar .i-search .search-text {
  -webkit-border-radius:25px;
  -moz-border-radius:25px;
  border-radius:25px;
  padding:2px 6px 2px 30px;
  width:230px;
}
.top .header .header-bar .i-search .icon-search {
  position:absolute;
  left:10px;
  top:5px;
}
.top .header .header-bar .i-search .icon-remove-circle {
  position:absolute;
  right:8px;
  top:5px;
  cursor:pointer;
}
.autocomplete {
  border:1px solid #999999;
  background:#ffffff;
  cursor:default;
  text-align:left;
  max-height:200px;
  overflow:auto;
  margin:1px 6px 6px 30px;
  _height:200px;
  _margin:0;
  _overflow-x:hidden;
}
.autocomplete .selected { background:#ededed; }
.autocomplete div {
  padding:2px 5px;
  white-space:nowrap;
}
.autocomplete strong {
  color:#ff7700;
  font-weight:bold;
}
.main-box { padding-right:10px; }
.tab-tag {
  font-family:"Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica, STHeiti;
  background:#ffffff;
  height:18px;
  line-height:18px;
  border:1px solid #980500;
  position:absolute;
  right:140px;
  cursor:pointer;
  top:6px;
  padding:0 8px;
  display:block;
  text-align:center;
  cursor:pointer;
  -webkit-box-shadow:0 1px 3px rgba(0,0,0,0.25);
  -moz-box-shadow:0 1px 3px rgba(0,0,0,0.25);
  box-shadow:0 1px 3px rgba(0,0,0,0.25);
}
.tab-tag i { margin-left:5px; }
.btn {
  display:inline-block;
  margin-bottom:0;
  font-size:12px;
  line-height:18px;
  *line-height:20px;
  color:#333333;
  text-align:center;
  vertical-align:middle;
  cursor:pointer;
  background-color:#f2f4f4;
  background-image:-moz-linear-gradient(top,#fcfcfc,#e3e7e7);
  background-image:-ms-linear-gradient(top,#fcfcfc,#e3e7e7);
  background-image:-webkit-gradient(linear,0 0,0 100%,from(#fcfcfc),to(#e3e7e7));
  background-image:-webkit-linear-gradient(top,#fcfcfc,#e3e7e7);
  background-image:-o-linear-gradient(top,#fcfcfc,#e3e7e7);
  background-image:linear-gradient(top,#fcfcfc,#e3e7e7);
  background-repeat:repeat-x;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#e3e7e7', GradientType=0);
  border-color:#e3e7e7 #e3e7e7 #bac4c4;
  border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  *background-color:#e3e7e7;
  filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
  border:1px solid #cccccc;
  *padding:2px 10px 2px;
  border-bottom-color:#b3b3b3;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  border-radius:2px;
  *margin-left:.3em;
  padding:4px 10px 4px;
}
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
  background-color:#e3e7e7;
  *background-color:#d5dbdb;
}
.btn:active, .btn.active { background-color:#c8cfcf \9; }
.btn:first-child { *margin-left:0; }
.btn i {
  _background-image:url("");
  _background-repeat:no-repeat;
  _display:inline-block;
  _height:14px;
  _line-height:14px;
  _vertical-align:text-top;
  _width:14px;
}
.btn:hover {
  color:#333333;
  text-decoration:none;
  background-color:#e6e6e6;
  *background-color:#d9d9d9;
  background-position:0 -15px;
  -webkit-transition:background-position .1s linear;
  -moz-transition:background-position .1s linear;
  -ms-transition:background-position .1s linear;
  -o-transition:background-position .1s linear;
  transition:background-position .1s linear;
}
.btn.active, .btn:active {
  background-color:#e6e6e6;
  background-color:#d9d9d9 \9;
  background-image:none;
  outline:0;
  -webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}
.btn.disabled, .btn[disabled] {
  cursor:default;
  background-color:#e6e6e6;
  background-image:none;
  opacity:0.65;
  filter:alpha(opacity=65);
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
}
.btn-large {
  padding:9px 14px;
  font-size:14px;
  line-height:normal;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
}
.btn-large [class^="icon-"] { margin-top:1px; }
.btn-small {
  padding:5px 9px;
  line-height:16px;
}
.btn-small [class^="icon-"] { margin-top:-1px; }
.btn-mini {
  padding:2px 6px;
  font-size:12px;
  line-height:14px;
}
.btn-primary, .btn-primary:hover, .btn-warning, .btn-warning:hover, .btn-danger, .btn-danger:hover, .btn-success, .btn-success:hover, .btn-info, .btn-info:hover, .btn-inverse, .btn-inverse:hover { color:#ffffff; }
.btn-primary.active, .btn-warning.active, .btn-danger.active, .btn-success.active, .btn-info.active, .btn-inverse.active { color:rgba(255,255,255,0.75); }
.btn { border-color:#afafaf; }
.btn-primary {
  background-color:#0074cc;
  background-image:-moz-linear-gradient(top,#0088cc,#0055cc);
  background-image:-ms-linear-gradient(top,#0088cc,#0055cc);
  background-image:-webkit-gradient(linear,0 0,0 100%,from(#0088cc),to(#0055cc));
  background-image:-webkit-linear-gradient(top,#0088cc,#0055cc);
  background-image:-o-linear-gradient(top,#0088cc,#0055cc);
  background-image:linear-gradient(top,#0088cc,#0055cc);
  background-repeat:repeat-x;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0055cc', GradientType=0);
  border-color:#0055cc #0055cc #003580;
  border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  *background-color:#0055cc;
  filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
  background-color:#0055cc;
  *background-color:#004ab3;
}
.btn-primary:active, .btn-primary.active { background-color:#004099 \9; }
.btn-warning {
  background-color:#faa732;
  background-image:-moz-linear-gradient(top,#fbb450,#f89406);
  background-image:-ms-linear-gradient(top,#fbb450,#f89406);
  background-image:-webkit-gradient(linear,0 0,0 100%,from(#fbb450),to(#f89406));
  background-image:-webkit-linear-gradient(top,#fbb450,#f89406);
  background-image:-o-linear-gradient(top,#fbb450,#f89406);
  background-image:linear-gradient(top,#fbb450,#f89406);
  background-repeat:repeat-x;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbb450', endColorstr='#f89406', GradientType=0);
  border-color:#f89406 #f89406 #ad6704;
  border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  *background-color:#f89406;
  filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
  background-color:#f89406;
  *background-color:#df8505;
}
.btn-warning:active, .btn-warning.active { background-color:#c67605 \9; }
.btn-danger {
  background-color:#da4f49;
  background-image:-moz-linear-gradient(top,#ee5f5b,#bd362f);
  background-image:-ms-linear-gradient(top,#ee5f5b,#bd362f);
  background-image:-webkit-gradient(linear,0 0,0 100%,from(#ee5f5b),to(#bd362f));
  background-image:-webkit-linear-gradient(top,#ee5f5b,#bd362f);
  background-image:-o-linear-gradient(top,#ee5f5b,#bd362f);
  background-image:linear-gradient(top,#ee5f5b,#bd362f);
  background-repeat:repeat-x;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#bd362f', GradientType=0);
  border-color:#bd362f #bd362f #802420;
  border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  *background-color:#bd362f;
  filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
  background-color:#bd362f;
  *background-color:#a9302a;
}
.btn-danger:active, .btn-danger.active { background-color:#942a25 \9; }
.btn-success {
  background-color:#5bb75b;
  background-image:-moz-linear-gradient(top,#62c462,#51a351);
  background-image:-ms-linear-gradient(top,#62c462,#51a351);
  background-image:-webkit-gradient(linear,0 0,0 100%,from(#62c462),to(#51a351));
  background-image:-webkit-linear-gradient(top,#62c462,#51a351);
  background-image:-o-linear-gradient(top,#62c462,#51a351);
  background-image:linear-gradient(top,#62c462,#51a351);
  background-repeat:repeat-x;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#51a351', GradientType=0);
  border-color:#51a351 #51a351 #387038;
  border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  *background-color:#51a351;
  filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
  background-color:#51a351;
  *background-color:#499249;
}
.btn-success:active, .btn-success.active { background-color:#408140 \9; }
.btn-info {
  background-color:#49afcd;
  background-image:-moz-linear-gradient(top,#5bc0de,#2f96b4);
  background-image:-ms-linear-gradient(top,#5bc0de,#2f96b4);
  background-image:-webkit-gradient(linear,0 0,0 100%,from(#5bc0de),to(#2f96b4));
  background-image:-webkit-linear-gradient(top,#5bc0de,#2f96b4);
  background-image:-o-linear-gradient(top,#5bc0de,#2f96b4);
  background-image:linear-gradient(top,#5bc0de,#2f96b4);
  background-repeat:repeat-x;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#2f96b4', GradientType=0);
  border-color:#2f96b4 #2f96b4 #1f6377;
  border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  *background-color:#2f96b4;
  filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
  background-color:#2f96b4;
  *background-color:#2a85a0;
}
.btn-info:active, .btn-info.active { background-color:#24748c \9; }
.btn-inverse {
  background-color:#414141;
  background-image:-moz-linear-gradient(top,#555555,#222222);
  background-image:-ms-linear-gradient(top,#555555,#222222);
  background-image:-webkit-gradient(linear,0 0,0 100%,from(#555555),to(#222222));
  background-image:-webkit-linear-gradient(top,#555555,#222222);
  background-image:-o-linear-gradient(top,#555555,#222222);
  background-image:linear-gradient(top,#555555,#222222);
  background-repeat:repeat-x;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#222222', GradientType=0);
  border-color:#222222 #222222 #000000;
  border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  *background-color:#222222;
  filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
  background-color:#222222;
  *background-color:#151515;
}
.btn-inverse:active, .btn-inverse.active { background-color:#090909 \9; }
button.btn, input[type="submit"].btn {
  *padding-top:2px;
  *padding-bottom:2px;
}
button.btn::-moz-focus-inner, input[type="submit"].btn::-moz-focus-inner {
  padding:0;
  border:0;
}
button.btn.btn-large, input[type="submit"].btn.btn-large {
  *padding-top:7px;
  *padding-bottom:7px;
}
button.btn.btn-small, input[type="submit"].btn.btn-small {
  *padding-top:3px;
  *padding-bottom:3px;
}
button.btn.btn-mini, input[type="submit"].btn.btn-mini {
  *padding-top:1px;
  *padding-bottom:1px;
}
fieldset {
  padding:0;
  margin:0;
  border:0;
}
legend {
  display:block;
  width:100%;
  padding:0;
  margin-bottom:27px;
  font-size:18px;
  line-height:36px;
  color:#333333;
  border:0;
  border-bottom:1px solid #eeeeee;
}
legend small {
  font-size:13.5px;
  color:#999999;
}
label, input, button, select, textarea {
  font-size:12px;
  font-weight:normal;
  line-height:18px;
}
input, button, select, textarea { font-family:"宋体", "Arial Narrow", HELVETICA; }
.form-horizontal label {
  display:block;
  margin-bottom:5px;
  color:#333333;
}
input, textarea, select, .uneditable-input {
  display:inline-block;
  height:18px;
  padding:4px;
  font-size:12px;
  line-height:18px;
  color:#555555;
  background-color:#ffffff;
  border:1px solid #cccccc;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
}
.uneditable-textarea {
  width:auto;
  height:auto;
}
label input, label textarea, label select { display:block; }
input[type="image"], input[type="checkbox"], input[type="radio"] {
  width:auto;
  height:auto;
  padding:0;
  margin:3px 0;
  *margin-top:0;
  line-height:normal;
  cursor:pointer;
  background-color:transparent;
  border:0 \9;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
}
input[type="image"] { border:0; }
input[type="file"] {
  width:auto;
  padding:initial;
  line-height:initial;
  background-color:#ffffff;
  background-color:initial;
  border:initial;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
}
input[type="button"], input[type="reset"], input[type="submit"] {
  width:auto;
  height:auto;
}
select, input[type="file"] {
  height:28px;
  *margin-top:4px;
  line-height:28px;
}
input[type="file"] { line-height:18px \9; }
select {
  width:220px;
  background-color:#ffffff;
}
select[multiple], select[size] { height:auto; }
input[type="image"] {
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
}
textarea { height:auto; }
input[type="hidden"] { display:none; }
.radio, .checkbox {
  min-height:18px;
  padding-left:18px;
}
.radio input[type="radio"], .checkbox input[type="checkbox"] {
  float:left;
  margin-left:-18px;
}
.controls > .radio:first-child, .controls > .checkbox:first-child { padding-top:5px; }
.radio.inline, .checkbox.inline {
  display:inline-block;
  padding-top:5px;
  margin-bottom:0;
  vertical-align:middle;
}
.radio.inline + .radio.inline, .checkbox.inline + .checkbox.inline { margin-left:10px; }
input, textarea {
  -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
  -moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition:border linear .2s, box-shadow linear .2s;
  -moz-transition:border linear .2s, box-shadow linear .2s;
  -ms-transition:border linear .2s, box-shadow linear .2s;
  -o-transition:border linear .2s, box-shadow linear .2s;
  transition:border linear .2s, box-shadow linear .2s;
}
input:focus, textarea:focus {
  border-color:rgba(82,168,236,0.8);
  outline:0;
  -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
  -moz-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
  box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
}
.input-mini { width:60px; }
.input-small { width:90px; }
.input-medium { width:150px; }
.input-large { width:210px; }
.input-xlarge { width:270px; }
.input-xxlarge { width:530px; }
input[class*="span"], select[class*="span"], textarea[class*="span"], .uneditable-input[class*="span"], .row-fluid input[class*="span"], .row-fluid select[class*="span"], .row-fluid textarea[class*="span"], .row-fluid .uneditable-input[class*="span"] {
  float:none;
  margin-left:0;
}
input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] {
  cursor:not-allowed;
  background-color:#eeeeee;
  border-color:#dddddd;
}
input[type="radio"][disabled], input[type="checkbox"][disabled], input[type="radio"][readonly], input[type="checkbox"][readonly] { background-color:transparent; }
.control-group.warning > label, .control-group.warning .help-block, .control-group.warning .help-inline { color:#454545; }
.control-group.warning input, .control-group.warning select, .control-group.warning textarea {
  color:#454545;
  border-color:#454545;
}
.control-group.warning input:focus, .control-group.warning select:focus, .control-group.warning textarea:focus {
  border-color:#2c2c2c;
  -webkit-box-shadow:0 0 6px #787878;
  -moz-box-shadow:0 0 6px #787878;
  box-shadow:0 0 6px #787878;
}
.control-group.warning .input-prepend .add-on, .control-group.warning .input-append .add-on {
  color:#454545;
  background-color:#ffffca;
  border-color:#454545;
}
.control-group.error > label, .control-group.error .help-block, .control-group.error .help-inline { color:#b94a48; }
.control-group.error input, .control-group.error select, .control-group.error textarea {
  color:#b94a48;
  border-color:#b94a48;
}
.control-group.error input:focus, .control-group.error select:focus, .control-group.error textarea:focus {
  border-color:#953b39;
  -webkit-box-shadow:0 0 6px #d59392;
  -moz-box-shadow:0 0 6px #d59392;
  box-shadow:0 0 6px #d59392;
}
.control-group.error .input-prepend .add-on, .control-group.error .input-append .add-on {
  color:#b94a48;
  background-color:#f2dede;
  border-color:#b94a48;
}
.control-group.success > label, .control-group.success .help-block, .control-group.success .help-inline { color:#468847; }
.control-group.success input, .control-group.success select, .control-group.success textarea {
  color:#468847;
  border-color:#468847;
}
.control-group.success input:focus, .control-group.success select:focus, .control-group.success textarea:focus {
  border-color:#356635;
  -webkit-box-shadow:0 0 6px #7aba7b;
  -moz-box-shadow:0 0 6px #7aba7b;
  box-shadow:0 0 6px #7aba7b;
}
.control-group.success .input-prepend .add-on, .control-group.success .input-append .add-on {
  color:#468847;
  background-color:#dff0d8;
  border-color:#468847;
}
input:focus:required:invalid, textarea:focus:required:invalid, select:focus:required:invalid {
  color:#b94a48;
  border-color:#ee5f5b;
}
input:focus:required:invalid:focus, textarea:focus:required:invalid:focus, select:focus:required:invalid:focus {
  border-color:#e9322d;
  -webkit-box-shadow:0 0 6px #f8b9b7;
  -moz-box-shadow:0 0 6px #f8b9b7;
  box-shadow:0 0 6px #f8b9b7;
}
.form-actions {
  padding:17px 20px 18px;
  margin-top:18px;
  margin-bottom:18px;
  background-color:#f5f5f5;
  border-top:1px solid #dddddd;
  *zoom:1;
}
.form-actions:before, .form-actions:after {
  display:table;
  content:"";
}
.form-actions:after { clear:both; }
.uneditable-input {
  overflow:hidden;
  white-space:nowrap;
  cursor:not-allowed;
  background-color:#ffffff;
  border-color:#eeeeee;
  -webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,0.025);
  -moz-box-shadow:inset 0 1px 2px rgba(0,0,0,0.025);
  box-shadow:inset 0 1px 2px rgba(0,0,0,0.025);
}
:-moz-placeholder { color:#999999; }
::-webkit-input-placeholder { color:#999999; }
.help-block, .help-inline { color:#555555; }
.help-block {
  display:block;
  margin-bottom:9px;
}
.help-inline {
  display:inline-block;
  *display:inline;
  *zoom:1;
  vertical-align:middle;
  padding-left:5px;
}
.input-prepend, .input-append { margin-bottom:5px; }
.input-prepend input, .input-prepend select, .input-prepend .uneditable-input, .input-append input, .input-append select, .input-append .uneditable-input {
  position:relative;
  margin-bottom:0;
  *margin-left:0;
  vertical-align:middle;
  -webkit-border-radius:0 3px 3px 0;
  -moz-border-radius:0 3px 3px 0;
  border-radius:0 3px 3px 0;
}
.input-prepend input:focus, .input-prepend select:focus, .input-prepend .uneditable-input:focus, .input-append input:focus, .input-append select:focus, .input-append .uneditable-input:focus { z-index:2; }
.input-prepend .uneditable-input, .input-append .uneditable-input { border-left-color:#cccccc; }
.input-prepend .add-on, .input-append .add-on {
  display:inline-block;
  width:auto;
  height:18px;
  min-width:16px;
  padding:4px 5px;
  font-weight:normal;
  line-height:18px;
  text-align:center;
  text-shadow:0 1px 0 #ffffff;
  vertical-align:middle;
  background-color:#eeeeee;
  border:1px solid #cccccc;
}
.input-prepend .add-on, .input-prepend .btn, .input-append .add-on, .input-append .btn {
  margin-left:-1px;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
}
.input-prepend .active, .input-append .active {
  background-color:#a9dba9;
  border-color:#46a546;
}
.input-prepend .add-on, .input-prepend .btn { margin-right:-1px; }
.input-prepend .add-on:first-child, .input-prepend .btn:first-child {
  -webkit-border-radius:3px 0 0 3px;
  -moz-border-radius:3px 0 0 3px;
  border-radius:3px 0 0 3px;
}
.input-append input, .input-append select, .input-append .uneditable-input {
  -webkit-border-radius:3px 0 0 3px;
  -moz-border-radius:3px 0 0 3px;
  border-radius:3px 0 0 3px;
}
.input-append .uneditable-input {
  border-right-color:#cccccc;
  border-left-color:#eeeeee;
}
.input-append .add-on:last-child, .input-append .btn:last-child {
  -webkit-border-radius:0 3px 3px 0;
  -moz-border-radius:0 3px 3px 0;
  border-radius:0 3px 3px 0;
}
.input-prepend.input-append input, .input-prepend.input-append select, .input-prepend.input-append .uneditable-input {
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
}
.input-prepend.input-append .add-on:first-child, .input-prepend.input-append .btn:first-child {
  margin-right:-1px;
  -webkit-border-radius:3px 0 0 3px;
  -moz-border-radius:3px 0 0 3px;
  border-radius:3px 0 0 3px;
}
.input-prepend.input-append .add-on:last-child, .input-prepend.input-append .btn:last-child {
  margin-left:-1px;
  -webkit-border-radius:0 3px 3px 0;
  -moz-border-radius:0 3px 3px 0;
  border-radius:0 3px 3px 0;
}
.search-query {
  padding-right:14px;
  padding-right:4px \9;
  padding-left:14px;
  padding-left:4px \9;
  margin-bottom:0;
  -webkit-border-radius:14px;
  -moz-border-radius:14px;
  border-radius:14px;
}
.form-search input, .form-search textarea, .form-search select, .form-search .help-inline, .form-search .uneditable-input, .form-search .input-prepend, .form-search .input-append, .form-inline input, .form-inline textarea, .form-inline select, .form-inline .help-inline, .form-inline .uneditable-input, .form-inline .input-prepend, .form-inline .input-append, .form-horizontal input, .form-horizontal textarea, .form-horizontal select, .form-horizontal .help-inline, .form-horizontal .uneditable-input, .form-horizontal .input-prepend, .form-horizontal .input-append {
  display:inline-block;
  *display:inline;
  *zoom:1;
  margin-bottom:0;
}
.form-search .hide, .form-inline .hide, .form-horizontal .hide { display:none; }
.form-search label, .form-inline label { display:inline-block; }
.form-search .input-append, .form-inline .input-append, .form-search .input-prepend, .form-inline .input-prepend { margin-bottom:0; }
.form-search .radio, .form-search .checkbox, .form-inline .radio, .form-inline .checkbox {
  padding-left:0;
  margin-bottom:0;
  vertical-align:middle;
}
.form-search .radio input[type="radio"], .form-search .checkbox input[type="checkbox"], .form-inline .radio input[type="radio"], .form-inline .checkbox input[type="checkbox"] {
  float:left;
  margin-right:3px;
  margin-left:0;
}
.control-group { margin-bottom:9px; }
legend + .control-group {
  margin-top:18px;
  -webkit-margin-top-collapse:separate;
}
.form-horizontal .control-group {
  margin-bottom:18px;
  *zoom:1;
}
.form-horizontal .control-group:before, .form-horizontal .control-group:after {
  display:table;
  content:"";
}
.form-horizontal .control-group:after { clear:both; }
.form-horizontal .control-label {
  float:left;
  width:140px;
  padding-top:5px;
  text-align:right;
}
.form-horizontal .controls {
  *display:inline-block;
  *padding-left:20px;
  margin-left:160px;
  *margin-left:0;
}
.form-horizontal .controls:first-child { *padding-left:160px; }
.form-horizontal .help-block {
  margin-top:9px;
  margin-bottom:0;
}
.form-horizontal .form-actions { padding-left:160px; }
table {
  max-width:100%;
  background-color:transparent;
  border-collapse:collapse;
  border-spacing:0;
}
.table {
  width:100%;
  margin-bottom:5px;
}
.table th, .table td {
  padding:4px;
  line-height:18px;
  text-align:left;
  vertical-align:top;
  border-top:1px solid #cccccc;
}
.table thead th { vertical-align:bottom; }
.table caption + thead tr:first-child th, .table caption + thead tr:first-child td, .table colgroup + thead tr:first-child th, .table colgroup + thead tr:first-child td, .table thead:first-child tr:first-child th, .table thead:first-child tr:first-child td { border-top:0; }
.table tbody + tbody { border-top:2px solid #cccccc; }
.table-condensed th, .table-condensed td { padding:4px 5px; }
.table-bordered {
  border:1px solid #cccccc;
  border-collapse:separate;
  *border-collapse:collapsed;
  border-left:0;
}
.table-bordered th, .table-bordered td { border-left:1px solid #cccccc; }
.table-bordered caption + thead tr:first-child th, .table-bordered caption + tbody tr:first-child th, .table-bordered caption + tbody tr:first-child td, .table-bordered colgroup + thead tr:first-child th, .table-bordered colgroup + tbody tr:first-child th, .table-bordered colgroup + tbody tr:first-child td, .table-bordered thead:first-child tr:first-child th, .table-bordered tbody:first-child tr:first-child th, .table-bordered tbody:first-child tr:first-child td { border-top:0; }
.table-striped tbody tr:nth-child(odd) td, .table-striped tbody tr:nth-child(odd) th { background-color:#f9f9f9; }
.table tbody tr:hover td, .table tbody tr:hover th { background-color:#fcfcfc; }
.table th {
  background:#eeeeee;
  text-align:center;
}
.table td { padding:2px; }
.table td span {
  line-height:22px;
  display:block;
  padding-left:5px;
}
.table td span em {
  color:#ff3c00;
  padding:0 2px;
}
.table td span b {
  color:#666666;
  font-weight:lighter;
}
.table td span .on { color:#ff3c00; }
.table td span .suc { color:#008000; }
.table td .a-line { color:#333333; }
.table td .a-line em { color:gray; }
.table td .a-line:hover { color:#ff6600; }
.table .to-do {
  vertical-align:middle;
  text-align:center;
}
.table .to-do .btn {
  padding:1px 4px;
  margin-bottom:5px;
}
[class^="icon-"], [class*=" icon-"] {
  display:inline-block;
  width:14px;
  height:14px;
  line-height:14px;
  vertical-align:text-top;
  background-image:url("../images/glyphicons-halflings.png");
  background-position:14px 14px;
  background-repeat:no-repeat;
}
.icon-white { background-image:url("../images/glyphicons-halflings-white.png"); }
.icon-glass { background-position:0 0; }
.icon-music { background-position:-24px 0; }
.icon-search { background-position:-48px 0; }
.icon-envelope { background-position:-72px 0; }
.icon-heart { background-position:-96px 0; }
.icon-star { background-position:-120px 0; }
.icon-star-empty { background-position:-144px 0; }
.icon-user { background-position:-168px 0; }
.icon-film { background-position:-192px 0; }
.icon-th-large { background-position:-216px 0; }
.icon-th { background-position:-240px 0; }
.icon-th-list { background-position:-264px 0; }
.icon-ok { background-position:-288px 0; }
.icon-remove { background-position:-312px 0; }
.icon-zoom-in { background-position:-336px 0; }
.icon-zoom-out { background-position:-360px 0; }
.icon-off { background-position:-384px 0; }
.icon-signal { background-position:-408px 0; }
.icon-cog { background-position:-432px 0; }
.icon-trash { background-position:-456px 0; }
.icon-home { background-position:0 -24px; }
.icon-file { background-position:-24px -24px; }
.icon-time { background-position:-48px -24px; }
.icon-road { background-position:-72px -24px; }
.icon-download-alt { background-position:-96px -24px; }
.icon-download { background-position:-120px -24px; }
.icon-upload { background-position:-144px -24px; }
.icon-inbox { background-position:-168px -24px; }
.icon-play-circle { background-position:-192px -24px; }
.icon-repeat { background-position:-216px -24px; }
.icon-refresh { background-position:-240px -24px; }
.icon-list-alt { background-position:-264px -24px; }
.icon-lock { background-position:-287px -24px; }
.icon-flag { background-position:-312px -24px; }
.icon-headphones { background-position:-336px -24px; }
.icon-volume-off { background-position:-360px -24px; }
.icon-volume-down { background-position:-384px -24px; }
.icon-volume-up { background-position:-408px -24px; }
.icon-qrcode { background-position:-432px -24px; }
.icon-barcode { background-position:-456px -24px; }
.icon-tag { background-position:0 -48px; }
.icon-tags { background-position:-25px -48px; }
.icon-book { background-position:-48px -48px; }
.icon-bookmark { background-position:-72px -48px; }
.icon-print { background-position:-96px -48px; }
.icon-camera { background-position:-120px -48px; }
.icon-font { background-position:-144px -48px; }
.icon-bold { background-position:-167px -48px; }
.icon-italic { background-position:-192px -48px; }
.icon-text-height { background-position:-216px -48px; }
.icon-text-width { background-position:-240px -48px; }
.icon-align-left { background-position:-264px -48px; }
.icon-align-center { background-position:-288px -48px; }
.icon-align-right { background-position:-312px -48px; }
.icon-align-justify { background-position:-336px -48px; }
.icon-list { background-position:-360px -48px; }
.icon-indent-left { background-position:-384px -48px; }
.icon-indent-right { background-position:-408px -48px; }
.icon-facetime-video { background-position:-432px -48px; }
.icon-picture { background-position:-456px -48px; }
.icon-pencil { background-position:0 -72px; }
.icon-map-marker { background-position:-24px -72px; }
.icon-adjust { background-position:-48px -72px; }
.icon-tint { background-position:-72px -72px; }
.icon-edit { background-position:-96px -72px; }
.icon-share { background-position:-120px -72px; }
.icon-check { background-position:-144px -72px; }
.icon-move { background-position:-168px -72px; }
.icon-step-backward { background-position:-192px -72px; }
.icon-fast-backward { background-position:-216px -72px; }
.icon-backward { background-position:-240px -72px; }
.icon-play { background-position:-264px -72px; }
.icon-pause { background-position:-288px -72px; }
.icon-stop { background-position:-312px -72px; }
.icon-forward { background-position:-336px -72px; }
.icon-fast-forward { background-position:-360px -72px; }
.icon-step-forward { background-position:-384px -72px; }
.icon-eject { background-position:-408px -72px; }
.icon-chevron-left { background-position:-432px -72px; }
.icon-chevron-right { background-position:-456px -72px; }
.icon-plus-sign { background-position:0 -96px; }
.icon-minus-sign { background-position:-24px -96px; }
.icon-remove-sign { background-position:-48px -96px; }
.icon-ok-sign { background-position:-72px -96px; }
.icon-question-sign { background-position:-96px -96px; }
.icon-info-sign { background-position:-120px -96px; }
.icon-screenshot { background-position:-144px -96px; }
.icon-remove-circle { background-position:-168px -96px; }
.icon-ok-circle { background-position:-192px -96px; }
.icon-ban-circle { background-position:-216px -96px; }
.icon-arrow-left { background-position:-240px -96px; }
.icon-arrow-right { background-position:-264px -96px; }
.icon-arrow-up { background-position:-289px -96px; }
.icon-arrow-down { background-position:-312px -96px; }
.icon-share-alt { background-position:-336px -96px; }
.icon-resize-full { background-position:-360px -96px; }
.icon-resize-small { background-position:-384px -96px; }
.icon-plus { background-position:-408px -96px; }
.icon-minus { background-position:-433px -96px; }
.icon-asterisk { background-position:-456px -96px; }
.icon-exclamation-sign { background-position:0 -120px; }
.icon-gift { background-position:-24px -120px; }
.icon-leaf { background-position:-48px -120px; }
.icon-fire { background-position:-72px -120px; }
.icon-eye-open { background-position:-96px -120px; }
.icon-eye-close { background-position:-120px -120px; }
.icon-warning-sign { background-position:-144px -120px; }
.icon-plane { background-position:-168px -120px; }
.icon-calendar { background-position:-192px -120px; }
.icon-random { background-position:-216px -120px; }
.icon-comment { background-position:-240px -120px; }
.icon-magnet { background-position:-264px -120px; }
.icon-chevron-up { background-position:-288px -120px; }
.icon-chevron-down { background-position:-313px -119px; }
.icon-retweet { background-position:-336px -120px; }
.icon-shopping-cart { background-position:-360px -120px; }
.icon-folder-close { background-position:-384px -120px; }
.icon-folder-open { background-position:-408px -120px; }
.icon-resize-vertical { background-position:-432px -119px; }
.icon-resize-horizontal { background-position:-456px -118px; }
.icon-hdd { background-position:0 -144px; }
.icon-bullhorn { background-position:-24px -144px; }
.icon-bell { background-position:-48px -144px; }
.icon-certificate { background-position:-72px -144px; }
.icon-thumbs-up { background-position:-96px -144px; }
.icon-thumbs-down { background-position:-120px -144px; }
.icon-hand-right { background-position:-144px -144px; }
.icon-hand-left { background-position:-168px -144px; }
.icon-hand-up { background-position:-192px -144px; }
.icon-hand-down { background-position:-216px -144px; }
.icon-circle-arrow-right { background-position:-240px -144px; }
.icon-circle-arrow-left { background-position:-264px -144px; }
.icon-circle-arrow-up { background-position:-288px -144px; }
.icon-circle-arrow-down { background-position:-312px -144px; }
.icon-globe { background-position:-336px -144px; }
.icon-wrench { background-position:-360px -144px; }
.icon-tasks { background-position:-384px -144px; }
.icon-filter { background-position:-408px -144px; }
.icon-briefcase { background-position:-432px -144px; }
.icon-fullscreen { background-position:-456px -144px; }
.btn-group {
  position:relative;
  *zoom:1;
  *margin-left:.3em;
}
.btn-group:before, .btn-group:after {
  display:table;
  content:"";
}
.btn-group:after { clear:both; }
.btn-group:first-child { *margin-left:0; }
.btn-group + .btn-group { margin-left:5px; }
.btn-toolbar {
  margin-top:9px;
  margin-bottom:9px;
}
.btn-toolbar .btn-group {
  display:inline-block;
  *display:inline;
  *zoom:1;
}
.btn-group > .btn {
  position:relative;
  float:left;
  margin-left:-1px;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
}
.btn-group > .btn:first-child {
  margin-left:0;
  -webkit-border-top-left-radius:2px;
  -moz-border-radius-topleft:2px;
  border-top-left-radius:2px;
  -webkit-border-bottom-left-radius:2px;
  -moz-border-radius-bottomleft:2px;
  border-bottom-left-radius:2px;
}
.btn-group > .btn:last-child, .btn-group > .dropdown-toggle {
  -webkit-border-top-right-radius:2px;
  -moz-border-radius-topright:2px;
  border-top-right-radius:2px;
  -webkit-border-bottom-right-radius:2px;
  -moz-border-radius-bottomright:2px;
  border-bottom-right-radius:2px;
}
.btn-group > .btn.large:first-child {
  margin-left:0;
  -webkit-border-top-left-radius:6px;
  -moz-border-radius-topleft:6px;
  border-top-left-radius:6px;
  -webkit-border-bottom-left-radius:6px;
  -moz-border-radius-bottomleft:6px;
  border-bottom-left-radius:6px;
}
.btn-group > .btn.large:last-child, .btn-group > .large.dropdown-toggle {
  -webkit-border-top-right-radius:6px;
  -moz-border-radius-topright:6px;
  border-top-right-radius:6px;
  -webkit-border-bottom-right-radius:6px;
  -moz-border-radius-bottomright:6px;
  border-bottom-right-radius:6px;
}
.btn-group > .btn:hover, .btn-group > .btn:focus, .btn-group > .btn:active, .btn-group > .btn.active { z-index:2; }
.btn-group .dropdown-toggle:active, .btn-group.open .dropdown-toggle { outline:0; }
.btn-group > .dropdown-toggle {
  padding-left:8px;
  padding-right:8px;
  -webkit-box-shadow:inset 1px 0 0 rgba(255,255,255,.125), inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow:inset 1px 0 0 rgba(255,255,255,.125), inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  box-shadow:inset 1px 0 0 rgba(255,255,255,.125), inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
.btn-group > .btn-mini.dropdown-toggle {
  padding-left:5px;
  padding-right:5px;
}
.btn-group > .btn-small.dropdown-toggle {
  *padding-top:4px;
  *padding-bottom:4px;
}
.btn-group > .btn-large.dropdown-toggle {
  padding-left:12px;
  padding-right:12px;
}
.btn-group.open .dropdown-toggle {
  background-image:none;
  -webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}
.btn-group.open .btn.dropdown-toggle { background-color:#e6e6e6; }
.btn-group.open .btn-primary.dropdown-toggle { background-color:#0055cc; }
.btn-group.open .btn-warning.dropdown-toggle { background-color:#f89406; }
.btn-group.open .btn-danger.dropdown-toggle { background-color:#bd362f; }
.btn-group.open .btn-success.dropdown-toggle { background-color:#51a351; }
.btn-group.open .btn-info.dropdown-toggle { background-color:#2f96b4; }
.btn-group.open .btn-inverse.dropdown-toggle { background-color:#222222; }
.btn .caret {
  margin-top:7px;
  margin-left:0;
}
.btn:hover .caret, .open.btn-group .caret {
  opacity:1;
  filter:alpha(opacity=100);
}
.btn-mini .caret { margin-top:5px; }
.btn-small .caret { margin-top:6px; }
.btn-large .caret {
  margin-top:6px;
  border-left-width:5px;
  border-right-width:5px;
  border-top-width:5px;
}
.dropup .btn-large .caret {
  border-bottom:5px solid #000000;
  border-top:0;
}
.btn-primary .caret, .btn-warning .caret, .btn-danger .caret, .btn-info .caret, .btn-success .caret, .btn-inverse .caret {
  border-top-color:#ffffff;
  border-bottom-color:#ffffff;
  opacity:0.75;
  filter:alpha(opacity=75);
}
.buy-menu {
  height:32px;
  line-height:32px;
  border:1px solid #dcdcdc;
  border-bottom:2px solid #bf0600;
  border-left:none;
  position:relative;
}
.buy-menu ul { float:left; }
.buy-menu ul li { float:left; }
.buy-menu ul li a {
  float:left;
  width:80px;
  height:32px;
  text-align:center;
  line-height:32px;
  font-family:"Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica, STHeiti;
  color:#2e2e2e;
  margin-top:1px;
  position:relative;
  margin-top:-1px;
  padding:0 5px;
  border-left:1px solid #e6e6e6;
}
.buy-menu ul li a:hover { text-decoration:none; }
.buy-menu ul li a i {
  background-color:#ff6600;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  box-shadow:2px 4px 3px rgba(0,0,0,0.35);
  color:#ff7800;
  cursor:pointer;
  float:left;
  font-size:12px;
  height:16px;
  line-height:16px;
  opacity:0.7;
  outline:medium none;
  overflow:visible;
  position:absolute;
  text-align:center;
  color:#ffffff;
  filter:none;
  opacity:1;
  right:-10px;
  top:0;
  z-index:100;
  padding:0 5px;
}
.buy-menu ul li .hot { color:#ff3c00; }
.buy-menu ul li .light { color:#787878; }
.buy-menu ul .active a {
  background-color:#d6140e;
  background-image:-moz-linear-gradient(top,#e61e17,#bf0600);
  background-image:-ms-linear-gradient(top,#e61e17,#bf0600);
  background-image:-webkit-gradient(linear,0 0,0 100%,from(#e61e17),to(#bf0600));
  background-image:-webkit-linear-gradient(top,#e61e17,#bf0600);
  background-image:-o-linear-gradient(top,#e61e17,#bf0600);
  background-image:linear-gradient(top,#e61e17,#bf0600);
  background-repeat:repeat-x;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e61e17', endColorstr='#bf0600', GradientType=0);
  color:#ffffff;
  border-top:1px solid #e61e17;
  border-left:1px solid #e61e17;
  font-weight:bold;
}
.buy-menu .end-buy-btn {
  display:block;
  position:absolute;
  right:100px;
  top:0;
}
.buy-menu .new-buy {
  display:block;
  position:absolute;
  right:5px;
  top:4px;
  padding:2px 6px;
}
.page-bar {
  padding:8px 0;
  text-align:center;
}
.page-bar a {
  float:left;
  border:1px solid #b3b3b3;
  border-radius:2px 2px 2px 2px;
  display:inline-block;
  font-size:14px;
  height:24px;
  line-height:22px;
  margin:0 2px;
  padding:0 7px;
  text-align:center;
  vertical-align:middle;
  color:#3d3d3d;
}
.page-bar a:hover {
  border-color:red;
  color:red;
  text-decoration:none;
}
.page-bar a.active {
  background-color:red;
  border:1px solid red;
  color:#ffffff;
  position:relative;
  text-decoration:none;
}
.page-bar a.iPrev i {
  font-family:Georgia;
  padding-right:5px;
}
.page-bar a.iNext i {
  font-family:Georgia;
  padding-left:5px;
}
.page-bar span {
  float:left;
  border:1px solid #b3b3b3;
  border-radius:2px 2px 2px 2px;
  display:inline-block;
  font-size:14px;
  height:24px;
  line-height:22px;
  margin:0 2px;
  padding:0 7px;
  text-align:center;
  vertical-align:middle;
  color:#cccccc;
}
.page-bar span i {
  font-family:Georgia;
  padding-left:5px;
}
.page-bar input[type="text"] {
  float:left;
  padding:3px;
  width:18px;
  margin-left:5px;
}
.dialog-box {
  width:400px;
  margin:auto;
  padding:10px;
}
.d-line {
  padding:2px 0;
  position:relative;
  line-height:30px;
  overflow:hidden;
}
.d-line label {
  display:inline-block;
  text-align:right;
  vertical-align:middle;
  width:50px;
}
.d-line label b { color:#ff3c00; }
.d-line input[type="text"] {
  padding:2px 6px;
  -webkit-border-radius:0px;
  -moz-border-radius:0px;
  border-radius:0px;
}
.d-line input[type="radio"] {
  padding:0;
  margin-bottom:4px;
}
.d-line select {
  height:22px;
  line-height:22px;
  padding:2px;
  -webkit-border-radius:0px;
  -moz-border-radius:0px;
  border-radius:0px;
}
.d-line .m-text { width:70px; }
.d-line .d-text { width:170px; }
.d-line .s-text { width:105px; }
.d-line .b-text { width:150px; }
.d-line .n-text { width:220px; }
.d-line .btn { padding:2px 6px; }
.d-line .i-sel-b {
  height:22px;
  line-height:22px;
  padding:2px;
  -webkit-border-radius:0px;
  -moz-border-radius:0px;
  border-radius:0px;
  width:98px;
}
.d-line .m-select {
  border:none;
  position:absolute;
  right:11px;
  top:7px;
  width:45px;
  border-left:1px solid #dcdcdc;
}
.d-line .i-area {
  -webkit-border-radius:0px;
  -moz-border-radius:0px;
  border-radius:0px;
  width:222px;
  line-height:18px;
  padding:5px;
  height:64px;
  resize:vertical;
}
.d-line .line-sel-a {
  width:200px;
  padding:0;
  height:178px;
}
.d-line .line-sel-b {
  width:80px;
  padding:0;
  height:178px;
}
.d-line .sign-1, .d-line .sign-2, .d-line .sign-3 {
  border:1px solid #b3b3b3;
  border-radius:2px 2px 2px 2px;
  color:#3d3d3d;
  display:inline-block;
  font-size:12px;
  height:24px;
  line-height:22px;
  margin:0 2px;
  padding:0 7px;
  text-align:center;
  vertical-align:middle;
}
.d-line .sign-1:hover, .d-line .sign-2:hover, .d-line .sign-3:hover {
  border-color:red;
  color:red;
  text-decoration:none;
}
.d-line .hot-sp {
  border:1px solid #bf7600;
  display:inline-block;
  vertical-align:middle;
  padding:2px 5px;
  width:270px;
}
.d-line .	.sign-choose {
  border-color:red;
  color:red;
  text-decoration:none;
}
