.clear { *zoom:1; }
.clear:before, .clear:after {
  display:table;
  content:"";
  line-height:0;
}
.clear:after { clear:both; }
.hide-text {
  font:0 / 0 a;
  color:transparent;
  text-shadow:none;
  background-color:transparent;
  border:0;
}
.input-block-level {
  display:block;
  width:100%;
  min-height:30px;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin:0;
  padding:0;
}
html {
  font-family:"宋体", "Arial Narrow", HELVETICA;
  font-size:100%;
  background:#ffffff;
  -webkit-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display:block; }
audio, canvas, video {
  display:inline-block;
  *display:inline;
  *zoom:1;
}
audio:not([controls]) { display:none; }
table {
  border-collapse:collapse;
  border-spacing:0;
  font-size:inherit;
  font:100%;
}
a { text-decoration:none; }
a:link { color:#0b72a4; }
a:hover {
  text-decoration:underline;
  outline:0;
}
a:active { outline:0; }
a:focus {
  outline:thin dotted #333333;
  outline:5px auto -webkit-focus-ring-color;
  outline-offset:-2px;
}
sub, sup {
  position:relative;
  font-size:75%;
  line-height:0;
  vertical-align:baseline;
}
sup { top:-0.5em; }
sub { bottom:-0.25em; }
img {
  max-width:100%;
  height:auto;
  vertical-align:middle;
  border:0;
  -ms-interpolation-mode:bicubic;
}
img, button, input {
  height:auto;
  border:0;
  -ms-interpolation-mode:bicubic;
  vertical-align:middle;
}
del { text-decoration:line-through; }
address, caption, cite, code, dfn, em, strong, th, var {
  font-style:normal;
  font-weight:normal;
}
ol, ul, li {
  list-style:none;
  list-style-type:none;
}
caption, th { text-align:left; }
h1, h2, h3, h4, h5, h6 {
  font-size:100%;
  overflow:hidden;
}
h3, h4 { font-weight:lighter; }
q:before, q:after { content:''; }
#map_canvas img { max-width:none; }
button, input, select, textarea {
  margin:0;
  font-size:100%;
  vertical-align:middle;
}
.textarea { resize:vertical; }
button, input {
  *overflow:visible;
  line-height:normal;
}
button::-moz-focus-inner, input::-moz-focus-inner {
  padding:0;
  border:0;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor:pointer;
  -webkit-appearance:button;
}
input[type="search"] {
  -webkit-box-sizing:content-box;
  -moz-box-sizing:content-box;
  box-sizing:content-box;
  -webkit-appearance:textfield;
}
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance:none; }
textarea {
  overflow:auto;
  vertical-align:top;
}
th { text-align:inherit; }
fieldset, img { border:0; }
fieldset {
  margin:0;
  padding:0;
}
iframe { display:block; }
abbr, acronym { border:0; }
ins, a { text-decoration:none; }
.clr { clear:both; }
.cl { clear:left; }
.cr { clear:right; }
.f11 { font-size:11px; }
.f12 { font-size:12px; }
.f13 { font-size:13px; }
.f14 { font-size:14px; }
.f16 { font-size:16px; }
.f16 { font-size:16px; }
.f18 { font-size:18px; }
.f20 { font-size:20px; }
.f24 { font-size:24px; }
.en-ft { font-family:arial; }
.fn { font-weight:normal; }
.fb { font-weight:700; }
.fl, .fr { display:inline; }
.fl { float:left; }
.fr { float:right; }
.show { display:block; }
.hide { display:none; }
.cp { cursor:pointer; }
.tl { text-align:left; }
.tr { text-align:right; }
.tc { text-align:center; }
.tj {
  text-align:justify;
  text-justify:inter-ideograph;
}
.ti { text-indent:-9999em; }
.vm { vertical-align:middle; }
.dib { display:inline-block; }
.ct {
  display:inline-block;
  vertical-align:middle;
}
.pr { position:relative; }
.pa { position:absolute; }
.zoom { *zoom:1; }
.p6 { padding:6px; }
.p8 { padding:8px; }
.p10 { padding:10px; }
.mb5 { margin-bottom:5px; }
.mb10 { margin-bottom:10px; }
.mt7 { margin-top:7px; }
.mb15 { margin-bottom:15px; }
.mb20 { margin-bottom:20px; }
.mt5 { margin-top:5px; }
.mt10 { margin-top:10px; }
.mt15 { margin-top:15px; }
.mt20 { margin-top:20px; }
.blank3 {
  clear:both;
  display:block;
  font-size:1px;
  overflow:hidden;
  height:3px;
}
.blank10 {
  clear:both;
  display:block;
  font-size:1px;
  overflow:hidden;
  height:10px;
}
.blank15 {
  clear:both;
  display:block;
  font-size:1px;
  overflow:hidden;
  height:15px;
}
.blank25 {
  clear:both;
  display:block;
  font-size:1px;
  overflow:hidden;
  height:25px;
}
.noBorder { border:none !important; }
.oh { overflow:hidden; }
.m-link a {
  color:#333333;
  -webkit-transition:color .3s ease 0s;
  -moz-transition:color .3s ease 0s;
  -o-transition:color .3s ease 0s;
  transition:color .3s ease 0s;
}
.m-link a:hover {
  color:#ff6600;
  text-decoration:none;
}
.m-tmp-link a {
  color:#0b72a4;
  -webkit-transition:color .3s ease 0s;
  -moz-transition:color .3s ease 0s;
  -o-transition:color .3s ease 0s;
  transition:color .3s ease 0s;
}
.m-tmp-link a:hover {
  color:#ff6600;
  text-decoration:none;
}
ul.ui-list .ui-list-item {
  height:24px;
  line-height:24px;
  overflow:hidden;
}
ul.ui-list-lines .ui-list-item { float:left; }
ul.ui-list-lines .ui-list-item a { padding-right:5px; }
ul.ui-nav .ui-nav-item {
  background:#000000;
  position:relative;
  float:left;
}
ul.ui-nav .ui-nav-item a {
  color:#ffffff;
  display:block;
  width:80px;
  height:24px;
  line-height:24px;
  text-align:center;
}
ul.ui-nav .ui-nav-item a:hover { text-decoration:none; }
ul.ui-nav .ui-nav-item .ui-nav-item-child {
  position:absolute;
  left:0;
  top:24px;
  display:none;
  width:78px;
  border:1px solid #cccccc;
  border-top:none;
  background:#ffffff;
}
ul.ui-nav .ui-nav-item .ui-nav-item-child li {
  height:24px;
  line-height:24px;
  text-align:center;
}
ul.ui-nav .ui-nav-item:hover .ui-nav-item-child { display:block; }
.ui-title { text-align:center; }
.ui-title .ui-title-cnt { color:#222222; }
.ui-title .ui-title-subcnt { color:#999999; }
ol.ui-step .ui-step-item { float:left; }
.ui-page { text-align:center; }
.ui-page a {
  float:left;
  border:1px solid #b3b3b3;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  border-radius:2px;
  display:inline-block;
  height:24px;
  line-height:24px;
  margin:0 2px;
  padding:0 7px;
  text-align:center;
  vertical-align:middle;
  color:#333333;
}
.ui-page a:hover {
  border-color:#bf0601;
  color:#bf0601;
  text-decoration:none;
}
.ui-page a.ui-page-item-current {
  background-color:#bf0601;
  border:1px solid #bf0601;
  color:#ffffff;
}
.ui-page a.ui-page-item-prev i {
  font-family:Helvetica;
  padding-right:5px;
}
.ui-page a.ui-page-next i {
  font-family:Helvetica;
  padding-left:5px;
}
.ui-page span.ui-page-item {
  float:left;
  display:inline-block;
  height:24px;
  line-height:24px;
  margin:0 2px;
  padding:0 7px;
  text-align:center;
  vertical-align:middle;
  color:#333333;
}
.ui-page span.ui-page-item-info {
  border:1px solid #b3b3b3;
  border-radius:2px 2px 2px 2px;
  color:#cccccc;
}
.ui-page input[type="text"] {
  float:left;
  padding:3px;
  width:18px;
  margin-left:5px;
}
table {
  max-width:100%;
  background-color:transparent;
  border-collapse:collapse;
  border-spacing:0;
}
.ui-table {
  width:100%;
  margin-bottom:5px;
}
.ui-table th, .ui-table td {
  padding:4px;
  line-height:18px;
  text-align:left;
  vertical-align:middle;
  border-top:1px solid #dddddd;
}
.ui-table th { font-weight:bold; }
.ui-table thead th { vertical-align:bottom; }
.ui-table caption + thead tr:first-child th, .ui-table caption + thead tr:first-child td, .ui-table colgroup + thead tr:first-child th, .ui-table colgroup + thead tr:first-child td, .ui-table thead:first-child tr:first-child th, .ui-table thead:first-child tr:first-child td { border-top:0; }
.ui-table tbody + tbody { border-top:2px solid #dddddd; }
.table-condensed th, .table-condensed td { padding:4px 5px; }
.ui-table-bordered {
  border:1px solid #dddddd;
  border-collapse:separate;
  *border-collapse:collapse;
  border-left:0;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
}
.ui-table-bordered th, .ui-table-bordered td { border-left:1px solid #dddddd; }
.ui-table-bordered caption + thead tr:first-child th, .ui-table-bordered caption + tbody tr:first-child th, .ui-table-bordered caption + tbody tr:first-child td, .ui-table-bordered colgroup + thead tr:first-child th, .ui-table-bordered colgroup + tbody tr:first-child th, .ui-table-bordered colgroup + tbody tr:first-child td, .ui-table-bordered thead:first-child tr:first-child th, .ui-table-bordered tbody:first-child tr:first-child th, .ui-table-bordered tbody:first-child tr:first-child td { border-top:0; }
.ui-table-bordered thead:first-child tr:first-child th:first-child, .ui-table-bordered tbody:first-child tr:first-child td:first-child {
  -webkit-border-top-left-radius:2px;
  -moz-border-radius-topleft:2px;
  border-top-left-radius:2px;
}
.ui-table-bordered thead:first-child tr:first-child th:last-child, .ui-table-bordered tbody:first-child tr:first-child td:last-child {
  -webkit-border-top-right-radius:2px;
  -moz-border-radius-topright:2px;
  border-top-right-radius:2px;
}
.ui-table-bordered thead:last-child tr:last-child th:first-child, .ui-table-bordered tbody:last-child tr:last-child td:first-child, .ui-table-bordered tfoot:last-child tr:last-child td:first-child {
  -webkit-border-bottom-left-radius:2px;
  -moz-border-radius-bottomleft:2px;
  border-bottom-left-radius:2px;
}
.ui-table-bordered thead:last-child tr:last-child th:last-child, .ui-table-bordered tbody:last-child tr:last-child td:last-child, .ui-table-bordered tfoot:last-child tr:last-child td:last-child {
  -webkit-border-bottom-right-radius:2px;
  -moz-border-radius-bottomright:2px;
  border-bottom-right-radius:2px;
}
.ui-table-bordered caption + thead tr:first-child th:first-child, .ui-table-bordered caption + tbody tr:first-child td:first-child, .ui-table-bordered colgroup + thead tr:first-child th:first-child, .ui-table-bordered colgroup + tbody tr:first-child td:first-child {
  -webkit-border-top-left-radius:2px;
  -moz-border-radius-topleft:2px;
  border-top-left-radius:2px;
}
.ui-table-bordered caption + thead tr:first-child th:last-child, .ui-table-bordered caption + tbody tr:first-child td:last-child, .ui-table-bordered colgroup + thead tr:first-child th:last-child, .ui-table-bordered colgroup + tbody tr:first-child td:last-child {
  -webkit-border-top-right-radius:2px;
  -moz-border-radius-topright:2px;
  border-top-right-radius:2px;
}
.ui-table-striped tbody tr:nth-child(odd) td, .ui-table-striped tbody tr:nth-child(odd) th { background-color:#f9f9f9; }
.ui-table-hover tbody tr:hover td, .ui-table-hover tbody tr:hover th { background-color:#fff5d2; }
table [class*=span], .row-fluid table [class*=span] {
  display:table-cell;
  float:none;
  margin-left:0;
}
table .span1 {
  float:none;
  width:44px;
  margin-left:0;
}
table .span2 {
  float:none;
  width:124px;
  margin-left:0;
}
table .span3 {
  float:none;
  width:204px;
  margin-left:0;
}
table .span4 {
  float:none;
  width:284px;
  margin-left:0;
}
table .span5 {
  float:none;
  width:364px;
  margin-left:0;
}
table .span6 {
  float:none;
  width:444px;
  margin-left:0;
}
table .span7 {
  float:none;
  width:524px;
  margin-left:0;
}
table .span8 {
  float:none;
  width:604px;
  margin-left:0;
}
table .span9 {
  float:none;
  width:684px;
  margin-left:0;
}
table .span10 {
  float:none;
  width:764px;
  margin-left:0;
}
table .span11 {
  float:none;
  width:844px;
  margin-left:0;
}
table .span12 {
  float:none;
  width:924px;
  margin-left:0;
}
table .span13 {
  float:none;
  width:1004px;
  margin-left:0;
}
table .span14 {
  float:none;
  width:1084px;
  margin-left:0;
}
table .span15 {
  float:none;
  width:1164px;
  margin-left:0;
}
table .span16 {
  float:none;
  width:1244px;
  margin-left:0;
}
table .span17 {
  float:none;
  width:1324px;
  margin-left:0;
}
table .span18 {
  float:none;
  width:1404px;
  margin-left:0;
}
table .span19 {
  float:none;
  width:1484px;
  margin-left:0;
}
table .span20 {
  float:none;
  width:1564px;
  margin-left:0;
}
table .span21 {
  float:none;
  width:1644px;
  margin-left:0;
}
table .span22 {
  float:none;
  width:1724px;
  margin-left:0;
}
table .span23 {
  float:none;
  width:1804px;
  margin-left:0;
}
table .span24 {
  float:none;
  width:1884px;
  margin-left:0;
}
.ui-table tbody tr.success td { background-color:#dff0d8; }
.ui-table tbody tr.error td { background-color:#f2dede; }
.ui-table tbody tr.info td { background-color:#d9edf7; }
.btn {
  font-family:"Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica, STHeiti;
  display:inline-block;
  *display:inline;
  *zoom:1;
  padding:4px 14px;
  margin-bottom:0;
  font-size:12px;
  line-height:18px;
  *line-height:18px;
  text-align:center;
  vertical-align:middle;
  cursor:pointer;
  color:#333333;
  text-shadow:0 1px 1px rgba(255,255,255,0.75);
  background-color:#f5f5f5;
  background-image:-moz-linear-gradient(top,#ffffff,#e6e6e6);
  background-image:-webkit-gradient(linear,0 0,0 100%,from(#ffffff),to(#e6e6e6));
  background-image:-webkit-linear-gradient(top,#ffffff,#e6e6e6);
  background-image:-o-linear-gradient(top,#ffffff,#e6e6e6);
  background-image:linear-gradient(to bottom,#ffffff,#e6e6e6);
  background-repeat:repeat-x;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#00e5e5e5', GradientType=0);
  border-color:#cccccc;
  border:1px solid #bbbbbb;
  *border:0;
  border-bottom-color:#a2a2a2;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  border-radius:2px;
  *margin-left:.3em;
  -webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
  color:#333333;
  background-color:#e6e6e6;
  *background-color:#cccccc;
}
.btn:active, .btn.active { background-color:#cccccc \9; }
.btn:first-child { *margin-left:0; }
.btn:hover {
  color:#333333;
  text-decoration:none;
  background-color:#e6e6e6;
  *background-color:#d9d9d9;
  background-position:0 -15px;
  -webkit-transition:background-position .1s linear;
  -moz-transition:background-position .1s linear;
  -o-transition:background-position .1s linear;
  transition:background-position .1s linear;
}
.btn:focus {
  outline:thin dotted #333333;
  outline:5px auto -webkit-focus-ring-color;
  outline-offset:-2px;
}
.btn.active, .btn:active {
  margin-top:1px;
  background-color:#e6e6e6;
  background-color:#d9d9d9 \9;
  background-image:none;
  outline:0;
  -webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}
.btn.disabled, .btn[disabled] {
  cursor:default;
  background-color:#e6e6e6;
  background-image:none;
  opacity:0.65;
  filter:alpha(opacity=65);
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
}
.btn-large {
  padding:9px 14px;
  font-size:14px;
  line-height:normal;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
}
.btn-large [class^="icon-"] { margin-top:2px; }
.btn-small {
  padding:3px 9px;
  font-size:12px;
  line-height:16px;
}
.btn-small [class^="icon-"] { margin-top:0; }
.btn-mini {
  padding:2px 6px;
  font-size:12px;
  line-height:14px;
}
.btn-block {
  display:block;
  width:100%;
  padding-left:0;
  padding-right:0;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
.btn-block + .btn-block { margin-top:5px; }
.btn-primary.active, .btn-warning.active, .btn-danger.active, .btn-success.active, .btn-info.active, .btn-inverse.active { color:rgba(255,255,255,0.75); }
.btn { *border:1px solid #cccccc; }
.btn-primary {
  color:#ffffff;
  text-shadow:0 -1px 0 rgba(0,0,0,0.25);
  background-color:#0b5ea4;
  background-image:-moz-linear-gradient(top,#0b72a4,#0b3fa4);
  background-image:-webkit-gradient(linear,0 0,0 100%,from(#0b72a4),to(#0b3fa4));
  background-image:-webkit-linear-gradient(top,#0b72a4,#0b3fa4);
  background-image:-o-linear-gradient(top,#0b72a4,#0b3fa4);
  background-image:linear-gradient(to bottom,#0b72a4,#0b3fa4);
  background-repeat:repeat-x;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#000b72a4', endColorstr='#000a3ea4', GradientType=0);
  border-color:#082d74;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
  color:#ffffff;
  background-color:#0b3fa4;
  *background-color:#082d74;
}
.btn-primary:active, .btn-primary.active { background-color:#082d74 \9; }
.btn-warning {
  color:#ffffff;
  text-shadow:0 -1px 0 rgba(0,0,0,0.25);
  background-color:#faa732;
  background-image:-moz-linear-gradient(top,#fbb450,#f89406);
  background-image:-webkit-gradient(linear,0 0,0 100%,from(#fbb450),to(#f89406));
  background-image:-webkit-linear-gradient(top,#fbb450,#f89406);
  background-image:-o-linear-gradient(top,#fbb450,#f89406);
  background-image:linear-gradient(to bottom,#fbb450,#f89406);
  background-repeat:repeat-x;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00fab44f', endColorstr='#00f89406', GradientType=0);
  border-color:#c67605;
}
.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
  color:#ffffff;
  background-color:#f89406;
  *background-color:#c67605;
}
.btn-warning:active, .btn-warning.active { background-color:#c67605 \9; }
.btn-danger {
  color:#ffffff;
  text-shadow:0 -1px 0 rgba(0,0,0,0.25);
  background-color:#da4f49;
  background-image:-moz-linear-gradient(top,#ee5f5b,#bd362f);
  background-image:-webkit-gradient(linear,0 0,0 100%,from(#ee5f5b),to(#bd362f));
  background-image:-webkit-linear-gradient(top,#ee5f5b,#bd362f);
  background-image:-o-linear-gradient(top,#ee5f5b,#bd362f);
  background-image:linear-gradient(to bottom,#ee5f5b,#bd362f);
  background-repeat:repeat-x;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ee5f5b', endColorstr='#00bd362f', GradientType=0);
  border-color:#942a25;
}
.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
  color:#ffffff;
  background-color:#bd362f;
  *background-color:#942a25;
}
.btn-danger:active, .btn-danger.active { background-color:#942a25 \9; }
.btn-success {
  color:#ffffff;
  text-shadow:0 -1px 0 rgba(0,0,0,0.25);
  background-color:#5bb75b;
  background-image:-moz-linear-gradient(top,#62c462,#51a351);
  background-image:-webkit-gradient(linear,0 0,0 100%,from(#62c462),to(#51a351));
  background-image:-webkit-linear-gradient(top,#62c462,#51a351);
  background-image:-o-linear-gradient(top,#62c462,#51a351);
  background-image:linear-gradient(to bottom,#62c462,#51a351);
  background-repeat:repeat-x;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0062c462', endColorstr='#0051a351', GradientType=0);
  border-color:#408140;
}
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
  color:#ffffff;
  background-color:#51a351;
  *background-color:#408140;
}
.btn-success:active, .btn-success.active { background-color:#408140 \9; }
.btn-info {
  color:#ffffff;
  text-shadow:0 -1px 0 rgba(0,0,0,0.25);
  background-color:#49afcd;
  background-image:-moz-linear-gradient(top,#5bc0de,#2f96b4);
  background-image:-webkit-gradient(linear,0 0,0 100%,from(#5bc0de),to(#2f96b4));
  background-image:-webkit-linear-gradient(top,#5bc0de,#2f96b4);
  background-image:-o-linear-gradient(top,#5bc0de,#2f96b4);
  background-image:linear-gradient(to bottom,#5bc0de,#2f96b4);
  background-repeat:repeat-x;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#005bc0de', endColorstr='#002f96b4', GradientType=0);
  border-color:#24748c;
}
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
  color:#ffffff;
  background-color:#2f96b4;
  *background-color:#24748c;
}
.btn-info:active, .btn-info.active { background-color:#24748c \9; }
.btn-inverse {
  color:#ffffff;
  text-shadow:0 -1px 0 rgba(0,0,0,0.25);
  background-color:#363636;
  background-image:-moz-linear-gradient(top,#444444,#222222);
  background-image:-webkit-gradient(linear,0 0,0 100%,from(#444444),to(#222222));
  background-image:-webkit-linear-gradient(top,#444444,#222222);
  background-image:-o-linear-gradient(top,#444444,#222222);
  background-image:linear-gradient(to bottom,#444444,#222222);
  background-repeat:repeat-x;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00444444', endColorstr='#00222222', GradientType=0);
  border-color:#090909;
}
.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
  color:#ffffff;
  background-color:#222222;
  *background-color:#090909;
}
.btn-inverse:active, .btn-inverse.active { background-color:#090909 \9; }
button.btn, input[type="submit"].btn {
  *padding-top:3px;
  *padding-bottom:3px;
}
button.btn::-moz-focus-inner, input[type="submit"].btn::-moz-focus-inner {
  padding:0;
  border:0;
}
button.btn.btn-large, input[type="submit"].btn.btn-large {
  *padding-top:7px;
  *padding-bottom:7px;
}
button.btn.btn-small, input[type="submit"].btn.btn-small {
  *padding-top:3px;
  *padding-bottom:3px;
}
button.btn.btn-mini, input[type="submit"].btn.btn-mini {
  *padding-top:1px;
  *padding-bottom:1px;
}
.btn-link, .btn-link:active {
  background-color:transparent;
  background-image:none;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
}
.btn-link {
  border-color:transparent;
  cursor:pointer;
  color:#0b72a4;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
}
.btn-link:hover {
  color:#06405c;
  text-decoration:underline;
  background-color:transparent;
}
